/* components/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  width: 100%;
  background-color: #83818100;
  font-family: Roboto, sans-serif;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); */
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.menuIcon {
  display: none;
  cursor: pointer;
}

.menuIcon div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

.open div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.open div:nth-child(2) {
  opacity: 0;
}

.open div:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.menu {
  display: flex;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.menu li {
  font-size: 1rem;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .menuIcon {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
  }

  .menu.open {
    display: flex;
  }

  .menu li {
    margin: 10px 0;
    padding: 0 1rem;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(167, 179, 211);
    background: linear-gradient(90deg, rgba(167, 179, 211, 1) 0%, rgba(145, 183, 217, 1) 16%, rgba(0, 212, 255, 0.01724439775910369) 100%);
    color: white;
  }
}

.perfil {
  width: 10%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}